body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2d4a78;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background: #3b5998;
    padding: 30px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 10px;
}

.register-form label {
    display: block;
    text-align: left;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 5px;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #ffffff;
    color: #333;
}

.register-form input::placeholder {
    color: #999;
}

.register-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4a90e2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.register-button:hover {
    background-color: #dfe7f5;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}
.header {
    text-align: left; /* Порамнување на логото лево */
    padding: 10px 0 20px 10px; /* Простор околу логото */
}

.register-logo {
    width: 300px; /* Големина на логото */
    height: auto;
}